#parentContainer{
  display: flex;
  justify-content: center;
  align-items: center;
    @media (max-width: 1200px) {
    transform: scale(1.1);
    }
    @media (max-width: 1000px) {
    transform: scale(1.0);
    }
    @media (max-width: 800px) {
    transform: scale(0.9);
    }
    @media (max-width: 600px) {
    transform: scale(0.8);
    }
}
#canvas {
    width: 100%;
    border: 3px solid black;
    background: #efefef;
    
   }
#menuContainer {
    position: relative;
    display: inline-block;
    align-items: center;
    font-family: 'Krona One';
}
#gameContainer {
  position: relative;
  display: inline-block;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-evenly;
}
#gameController{
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
}
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 230px;
    padding: 1.5em 5em;
    background: #efefef;
    border: none;
    border-radius: .5rem;
    color: #444;
    min-width: 6px;
    max-width: 100%;
    max-height: 1px;
    min-height: 10px;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Krona One';
    letter-spacing: .2rem;
    text-align: center;
    outline: none;
    cursor:pointer;
    transition: .2s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                -6px -6px 10px rgba(255, 255, 255, .5),
                6px 6px 8px rgba(255, 255, 255, .075),
                6px 6px 10px rgba(0, 0, 0, .15);
  }
  button:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
  }
  button:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                inset -2px -2px 4px rgba(255, 255, 255, .5),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
  }

/* button animation */
  .button-zoom {
    animation: zoomAnimation 300ms infinite alternate;
  }
  @keyframes zoomAnimation {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.9);
    }
  }
/* button animation */
#maincanvas {
  width: 100%;
  box-shadow: inset -2px -2px 2px rgba(255, 255, 255, .7),
              inset -2px -2px 1px rgba(255, 255, 255, .5),
              inset -2px 2px 2px rgba(255, 255, 255, .075),
              inset  2px 2px 4px rgba(0, 0, 0, .15);
}
.pageone {
     position:static;
     flex-direction: column;
     justify-content: center;
     top: 1%; 
     left: 50%;
     @media (max-width: 120px) {
      transform: scale(1.1);
      }
      @media (max-width: 100px) {
      transform: scale(1.0);
      }
      @media (max-width: 80px) {
      transform: scale(0.9);
      }
      @media (max-width: 60px) {
      transform: scale(0.8);
      }
}
#mainheading{
  color: #b3d4ff;
}